{% include 'base/messages.html' %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- LOGO -->
        <div class="navbar-brand">
            <a href="{% url 'home' %}">
                <img src="/static/images/logo.png" alt="Logo Farsali">
            </a>
            <!-- ICONOS -->
            <div class="iconos__menu">
                <div class="iconos__menu--lista">
                    <ul class="nav__list">

                        <!-- Cliente Prefer -->
                        {% if not logged_usser %}
                        <li class="nav__item">
                            <a data-toggle="modal" data-target="#modal-prefer" class="icon-diamond"></a>
                        </li>
                        {% endif %}
                        <!-- Cliente Prefer -->

                        <!-- Videoteca -->
                        <li class="nav__item">
                            <a href="{% url 'videos' %}" class="icon-videocam">
                            </a>
                        </li>
                        <!-- Fin Videoteca -->

                        <!-- Carrito de compras -->
                        <li class="nav__item">
                            <a type="button" data-toggle="modal" data-target="#staticBackdrop" class="icon-basket">
                            </a>

                            <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false"
                                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog" style="text-align: center;">
                                    <div class="modal-content bg-dark">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Revisa tu carrito de
                                                compras</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="carrito__table" id="lista-carrito">
                                                <table class="table table-responsive"
                                                    style="color: white; font-size: 12px;">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Producto(s)</th>
                                                            <th scope="col">Cantidad</th>
                                                            <th scope="col">Valor unitario</th>
                                                            <th scope="col">Total</th>
                                                            <th scope="col">Eliminar</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- <tr>
                                                            <th scope="row">Crema de manos Luxury</th>
                                                            <td>2</td>
                                                            <td>$ 16.000 COP</td>
                                                            <td>10%</td>
                                                            <td>$ 28.800 COP</td>
                                                            <td class="delete-check">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value=""
                                                                    id="defaultCheck1">
                                                                </div>
                                                                <a href="#" class="icon-trash-empty"></a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Crema de manos Luxury</th>
                                                            <td>2</td>
                                                            <td>$ 16.000 COP</td>
                                                            <td>10%</td>
                                                            <td>$ 28.800 COP</td>
                                                            <td class="delete-check">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value=""
                                                                    id="defaultCheck1">
                                                                </div>
                                                                <a href="#" class="icon-trash-empty"></a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Crema de manos Luxury</th>
                                                            <td>2</td>
                                                            <td>$ 16.000 COP</td>
                                                            <td>10%</td>
                                                            <td>$ 28.800 COP</td>
                                                            <td class="delete-check">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value=""
                                                                    id="defaultCheck1">
                                                                </div>
                                                                <a href="#" class="icon-trash-empty"></a>
                                                            </td>
                                                        </tr> -->
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-total" style="color: white;">
                                                <p><strong>Total a pagar: </strong></p>
                                                <h5>$ 86.400 COP</h5>
                                            </div>
                                        </div>
                                        <form id="form-products" method="POST" action="{% url 'checkout' %}">
                                            {% csrf_token %}
                                            <input type="hidden" id="productos-checkout" name="productos-checkout" />
                                            <input type="hidden" id="valor_min" name="valor_min"
                                                value="{{ monto_min.valor }}" />
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Cerrar</button>
                                                <button type="submit" class="btn btn-primary">Comprar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Fin Carrito de compras -->

                        <!-- Botón Buscar -->
                        <li class="nav-item dropdown">
                            <a href="#search" id="navbarDropdownMenuLink" class="btn-search">
                                <div class="icon-search"></div>
                            </a>
                        </li>
                        <!-- Fin Botón Buscar -->
                    </ul>
                </div>
            </div>
        </div>

        <!-- End type price -->

        <!-- MENU BURGUER -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- LISTADO -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tienda' %}">Tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                </li>
                {% if logged_usser %}
                <li class="nav-item nav-item__user-log">
                    <a class="nav-item__user-log-btn icon-user"></a>
                    <div class="nav-item__user-log-content">
                        <span class="nav-link">Hola! {{ logged_usser }}, bienvenido</span>
                        <a class="nav-link" href="{% url 'logout_farsali' %}">Salir</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>



         <div class="modal fade" style="display: flex;align-items: center;justify-content: center;" id="typePrice" tabindex="-1" aria-labelledby="typePriceLabel" aria-hidden="true">
            <div class="modal-sm" style="text-align: center;color: white">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="typePriceLabel">Tipo de Precio</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="color: white;text-align: left;">

                        {% csrf_token %}

                        <div class="modal__body--content">
                            <div class="modal-body">
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="price1" checked>
                                  <label class="form-check-label" for="price1">
                                    Precio Normal
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="price2">
                                  <label class="form-check-label" for="price2">
                                    Precio por Caja
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="price3">
                                  <label class="form-check-label" for="price3">
                                    Precio por Mayor
                                  </label>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary"  onclick="SelectedPrice()">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        </div>

    <!--Mesaje carrito producto-->
    <div id="div-card-product" class="message-cart" style="display: none">
        <p id="text-car-product" class="message-cart__text">0 productos en el carrito</p>
    </div>
</nav>