<div class="introductions">
    <div class="introductions__container">
        <h1 class="introductions__title">
            Contáctanos | Farsáli Colombia
        </h1>
        <p class="introductions__text" style="text-align: center;">
            ¿Tienes dudas, quieres saber más sobre nuestros productos Farsáli, <strong>maquillaje, sombras y Glamour</strong>? ¡En
            <strong>Farsáli Colombia</strong> deseamos darte el mejor servicio, no dudes en contactarnos! Un asesor se pondrá en contacto contigo a la mayor brevedad, luego de enviar el formulario.
        </p>
    </div>
</div>