<div class="introductions">
    <div class="introductions__container">
        <h1 class="introductions__title">
            Productos Farsáli Colombia
        </h1>
        <p class="introductions__text" style="text-align: center;">
            <strong>Productos cosméticos de alta calidad</strong>, revisados y certificados por Invima. Somos proveedores mayoristas y al
            detal. Encuentra aquí todo el maquillaje que buscas para ese estilo perfecto: <strong>sombras, pintalabios, polvos,
            rubor, cuidado de la piel y más.</strong>
        </p>
    </div>
</div>