{% load farsali_tags %}
<div class="footer">
    <div class="footer__container">

        <div class="footer__column">
            <div class="footer__item">
                <div class="footer__groups" style="margin-top: 20px;">
                    <p class="footer__item--subtitle">MAPA DE SITO</p>
                    <ul class="footer__item--list">
                        <div class="division__footer">
                            <div class="list__a">
                                <li class="footer__item--link">
                                    <a href="{% url 'home' %}">Inicio</a>
                                </li>
                                <li class="footer__item--link">
                                    <a href="{% url 'nosotros' %}">Nosotros</a>
                                </li>
                            </div>
                            <div class="list__b">
                                <li class="footer__item--link">
                                    <a href="{% url 'tienda' %}">Tienda</a>
                                </li>
                                <li class="footer__item--link">
                                    <a href="{% url 'contacto' %}">Contacto</a>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>

            </div>
            <p class="footer__item--title">Síguenos y comunícate con nosotros</p>
            <div class="footer__item--social">
                <p class="footer__item--title" style="margin-top: 6px">Redes sociales:</p>

                <div class="footer__icons-container">
                    {% if redes_sociales %}
                        {% for red in redes_sociales %}
                            <a href="{{ red.url|safe }}" target="_blank">
                                {% if red.icono_svg %}
                                    {% include_svg red.icono_svg %}
                                {% elif red.icono %}
                                    <img 
                                        src="{{ red.icono.url }}" 
                                        alt="{{ red.nombre|safe }}"
                                        height="40"
                                        width="40">
                                {% endif %}
                            </a>
                        {% endfor %}
                    {% else %}
                        <a href="https://www.facebook.com/farsalicolombia" target="_blank">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 57 57"
                                style="enable-background:new 0 0 57 57;" xml:space="preserve">
                                <g>
                                    <path class="st0" d="M28.97,1C13.8,1,1.47,13.34,1.47,28.5C1.47,43.66,13.8,56,28.97,56c15.16,0,27.5-12.34,27.5-27.5
                                C56.47,13.34,44.13,1,28.97,1z M36.6,17.31c0,0.23-0.19,0.42-0.42,0.42h-3.31c-0.81,0-1.47,0.66-1.47,1.47v3.46h4.7
                                c0.24,0,0.43,0.21,0.41,0.45l-0.41,4.88c-0.02,0.21-0.2,0.38-0.41,0.38H31.4v16.2c0,0.23-0.19,0.42-0.42,0.42h-5.92
                                c-0.23,0-0.42-0.19-0.42-0.42V28.63v-0.26H21.7c-0.23,0-0.42-0.19-0.42-0.42v-4.88c0-0.23,0.19-0.42,0.42-0.42h2.96v-4.71
                                c0-3.28,2.66-5.94,5.94-5.94h5.59c0.23,0,0.42,0.19,0.42,0.42V17.31z" />
                                </g>
                            </svg>
                        </a>
                        <a href="https://www.instagram.com/farsalicolombia/" target="_blank">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 57 57"
                                style="enable-background:new 0 0 57 57;" xml:space="preserve">
                                <g>
                                    <path class="st0" d="M-91.98,23.98c-0.32-0.18-0.61,0.05-0.61,0.41v8.23c0,0.36,0.29,0.59,0.6,0.42l7.31-4.01
                                c0.33-0.18,0.38-0.65,0.06-0.83L-91.98,23.98z" />
                                    <path class="st0"
                                        d="M-89.59,0.95c-15.18,0-27.52,12.35-27.52,27.52c0,15.18,12.35,27.52,27.52,27.52
                                c15.18,0,27.52-12.35,27.52-27.52C-62.06,13.3-74.41,0.95-89.59,0.95z M-73.11,32.89c0,3.9-3.16,7.07-7.07,7.07h-18.33
                                c-3.9,0-7.07-3.16-7.07-7.07V24.3c0-3.9,3.16-7.07,7.07-7.07h18.33c3.9,0,7.07,3.16,7.07,7.07V32.89z" />
                                </g>
                                <g>
                                    <path class="st0" d="M-30.03,1c-15.16,0-27.5,12.34-27.5,27.5c0,15.16,12.34,27.5,27.5,27.5c15.16,0,27.5-12.34,27.5-27.5
                                C-2.53,13.34-14.87,1-30.03,1z M-22.4,17.31c0,0.23-0.19,0.42-0.42,0.42h-3.31c-0.81,0-1.47,0.66-1.47,1.47v3.46h4.7
                                c0.24,0,0.43,0.21,0.41,0.45l-0.41,4.88c-0.02,0.21-0.2,0.38-0.41,0.38h-4.29v16.2c0,0.23-0.19,0.42-0.42,0.42h-5.92
                                c-0.23,0-0.42-0.19-0.42-0.42V28.63v-0.26h-2.96c-0.23,0-0.42-0.19-0.42-0.42v-4.88c0-0.23,0.19-0.42,0.42-0.42h2.96v-4.71
                                c0-3.28,2.66-5.94,5.94-5.94h5.59c0.23,0,0.42,0.19,0.42,0.42V17.31z" />
                                </g>
                                <g>
                                    <path class="st0" d="M28.23,1.6C13.28,1.6,1.11,13.76,1.11,28.71c0,14.95,12.16,27.11,27.11,27.11c14.95,0,27.11-12.16,27.11-27.11
                                C55.34,13.76,43.18,1.6,28.23,1.6z M35.17,45.55H21.61c-5.68,0-10.28-4.6-10.28-10.28V21.71c0-5.68,4.6-10.28,10.28-10.28h13.57
                                c5.68,0,10.28,4.6,10.28,10.28v13.57C45.45,40.95,40.85,45.55,35.17,45.55z" />
                                    <path class="st0" d="M28.45,23.31c-2.98,0-5.4,2.42-5.4,5.4c0,2.98,2.42,5.4,5.4,5.4c2.98,0,5.4-2.42,5.4-5.4
                                C33.85,25.73,31.43,23.31,28.45,23.31z" />
                                    <path class="st0"
                                        d="M35.17,14.64H21.61c-3.9,0-7.06,3.16-7.06,7.06v13.57c0,3.9,3.16,7.06,7.06,7.06h13.57
                                c3.9,0,7.06-3.16,7.06-7.06V21.71C42.24,17.81,39.07,14.64,35.17,14.64z M28.45,37.14c-4.65,0-8.43-3.78-8.43-8.43
                                c0-4.65,3.78-8.43,8.43-8.43c4.65,0,8.43,3.78,8.43,8.43C36.88,33.36,33.1,37.14,28.45,37.14z M37.37,21.72
                                c-1.11,0-2.01-0.9-2.01-2.01s0.9-2.01,2.01-2.01c1.11,0,2.01,0.9,2.01,2.01S38.48,21.72,37.37,21.72z" />
                                </g>
                            </svg>
                        </a>
                    {% endif %}
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 57 57"
                        style="enable-background:new 0 0 57 57;" xml:space="preserve">
                        <g>
                            <path class="st0" d="M26.02,23.98c-0.32-0.18-0.61,0.05-0.61,0.41v8.23c0,0.36,0.29,0.59,0.6,0.42l7.31-4.01
                            c0.33-0.18,0.38-0.65,0.06-0.83L26.02,23.98z" />
                            <path class="st0" d="M28.41,0.95C13.24,0.95,0.89,13.3,0.89,28.48C0.89,43.65,13.24,56,28.41,56c15.18,0,27.52-12.35,27.52-27.52
                            C55.94,13.3,43.59,0.95,28.41,0.95z M44.89,32.89c0,3.9-3.16,7.07-7.07,7.07H19.49c-3.9,0-7.07-3.16-7.07-7.07V24.3
                            c0-3.9,3.16-7.07,7.07-7.07h18.33c3.9,0,7.07,3.16,7.07,7.07V32.89z" />
                        </g>
                    </svg>
                </div>
            </div>

            <div class="footer__groups">
                <ul class="footer__item--list">
                    <li class="footer__item--whats">
                        <img src="/static/images/whats.png">
                    </li>
                    <li class="footer__item--link" style="margin-top: 40px;">
                        <p>
                            <strong>Whatsapp:
                                {% if contacto_telefonos %}
                                    {% for contacto in contacto_telefonos %}
                                        <a 
                                            class="footer__item--whats" 
                                            href="{% if contacto.enlace %}{{ contacto.enlace }}{% else %}javascript:void(0){% endif %}" 
                                            rel="nofollow" 
                                            target="_blank">
                                        {{ contacto.valor }}
                                        </a>{% if not forloop.last %}<br>{% endif %}
                                    {% endfor %}
                                {% else %}
                                    <a class="footer__item--whats" href="https://wa.link/b21gx8" rel="nofollow" target="_blank">3043524716</a><br>
                                    <a class="footer__item--whats" href="https://wa.link/6e7w7x" rel="nofollow" target="_blank">3507416434</a>
                                {% endif %}
                            </strong>
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wpp-static">
            <div class="wpp-static__logo" id="wpp-logo">
                <img src="/static/images/wpp-btn.png" alt="">
            </div>
            <div class="wpp-static__links" id="wpp-list">
                {% if contacto_telefonos %}
                    {% for contacto in contacto_telefonos %}
                        <a 
                            class="wpp-static__item" 
                            href="{% if contacto.enlace %}{{ contacto.enlace }}{% else %}javascript:void(0){% endif %}" 
                            rel="nofollow" 
                            target="_blank">
                        {{ contacto.valor }}
                        </a>{% if not forloop.last %}<br>{% endif %}
                    {% endfor %}
                {% else %}
                    <a class="wpp-static__item" href="https://wa.link/b21gx8" rel="nofollow" target="_blank">3043524716</a><br>
                    <a class="wpp-static__item" href="https://wa.link/6e7w7x" rel="nofollow" target="_blank">3507416434</a>
                {% endif %}
            </div>
        </div>

        <div class="footer__logo">
            {% if logo_footer.icono  %}
                <img src="{{ logo_footer.icono.url }}" alt="">
            {% elif logo_footer.icono_svg %}
                {% include_svg logo_footer.icono_svg %}
            {% else %}
                <img src="/static/images/logo_footer.jpg" alt="">
            {% endif %}
        </div>

        <div class="footer__column">

            <div class="footer__groups">
                <div class="politicas__footer">
                    <p class="footer__item--subtitle">POLITICAS DEL SITIO</p>
                    <ul class="footer__item--list">
                        <li class="footer__item--link">
                            <a href="{% url 'politicas' %}">Politica de Privacidad</a>
                        </li>
                        <li class="footer__item--link">
                            <a href="{% url 'politicas' %}">Politica de Cookies</a>
                        </li>
                    </ul>
                </div>
            </div>

            {% with enlace=contacto_direccion.enlace|default:'https://www.google.es/maps/place/Fars%C3%A1li+Colombia/@6.2463531,-75.5720988,17z/data=!3m1!4b1!4m5!3m4!1s0x8e44291113ddaf95:0x99de3ac01008e257!8m2!3d6.2463531!4d-75.5699101' direccion=contacto_direccion.valor|default:'Carrera 51 N° 45-70, Piso 9 - Ed. Orión' %}
                <div class="footer__groups">
                    <div class="footer__item--adress">
                        <img src="/static/images/addres.png">
                        <a 
                            class="footer__item--link" 
                            href="{{ enlace }}"
                            rel="nofollow"
                            target="blank"
                        >
                            <p><strong>
                                {{ direccion }}
                            </strong></p>
                        </a>
                    </div>
                </div>
            {% endwith %}
            
            {% with email=contacto_email.valor|default:'info@farsalicolombia.com' %}
                <div class="footer__groups">
                    <div class="footer__item--email">
                        <img src="/static/images/email.png">
                        <a 
                            class="footer__item--link" 
                            href="mailto:{{ email }}" 
                            rel="nofollow" 
                            target="blank"
                        >
                            <p><strong>
                                {{ email }}
                            </strong></p>
                        </a>
                    </div>
                </div>
            {% endwith %}

            <div class="footer__item--info">
                <!-- <a href="{% url 'home' %}">Web oficial Farsali Colombia</a> -->
                <a href="https://www.k1n0.com.co/" rel="nofollow" target="_blank">Web desarrollada por K1n0.com.co</a>
                {% if logo_oficial %}
                    {% if logo_oficial.icono %}
                        <!-- <img 
                            src="{{ logo_oficial.icono.url }}" 
                            alt="Web oficial Farsali Colombia"
                            height="40"
                            width="40"> -->
                            <img 
                            src="{{ logo_oficial.icono.url }}" 
                            alt="Web oficial K1n0c0m"
                            height="40"
                            width="40">
                    {% elif logo_oficial.icono_svg %}
                        {% include_svg logo_oficial.icono_svg %}
                    {% endif %}
                {% else %}
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 477.87 477.87"
                        style="enable-background:new 0 0 477.87 477.87;" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M477,114.07l-34.13-102.4C440.54,4.7,434.02,0,426.67,0H51.2C43.85,0,37.33,4.7,35,11.67L0.87,114.07
                        c-0.53,1.59-0.82,3.25-0.87,4.93c0,0.17,0,0.29,0,0.46v17.07c0.06,26.74,12.71,51.89,34.13,67.89c0,0.14,0,0.24,0,0.38v221.87
                        c0,28.28,22.92,51.2,51.2,51.2h307.2c28.28,0,51.2-22.92,51.2-51.2V204.8c0-0.14,0-0.24,0-0.38c21.43-16,34.07-41.15,34.13-67.89
                        v-17.07c0-0.17,0-0.29,0-0.46C477.82,117.33,477.52,115.67,477,114.07z M358.4,34.13h55.96l22.77,68.27H358.4V34.13z M256,34.13
                        h68.27v68.27H256V34.13z M153.6,34.13h68.27v68.27H153.6V34.13z M63.51,34.13h55.96v68.27H40.74L63.51,34.13z M273.07,443.73
                        H204.8V307.2h68.27L273.07,443.73L273.07,443.73z M409.6,426.67c0,9.43-7.64,17.07-17.07,17.07H307.2v-153.6
                        c0-9.43-7.64-17.07-17.07-17.07h-102.4c-9.43,0-17.07,7.64-17.07,17.07v153.6H85.33c-9.43,0-17.07-7.64-17.07-17.07V220.16
                        c23.95,4.92,48.86-0.8,68.27-15.67c30.47,22.38,71.93,22.38,102.4,0c30.47,22.38,71.93,22.38,102.4,0
                        c19.41,14.87,44.32,20.58,68.27,15.67L409.6,426.67L409.6,426.67z M392.53,187.73c-14.76-0.01-28.77-6.48-38.35-17.71
                        c-6.2-7.1-16.98-7.82-24.08-1.62c-0.58,0.5-1.12,1.04-1.62,1.62c-18.98,21.18-51.53,22.96-72.71,3.99
                        c-1.4-1.26-2.73-2.59-3.99-3.99c-6.68-7.1-17.85-7.44-24.95-0.76c-0.26,0.24-0.51,0.5-0.76,0.76
                        c-18.98,21.18-51.53,22.96-72.71,3.99c-1.4-1.26-2.73-2.59-3.99-3.99c-6.68-7.1-17.85-7.44-24.94-0.76
                        c-0.26,0.24-0.51,0.5-0.76,0.76c-9.57,11.23-23.59,17.71-38.35,17.71c-28.28,0-51.2-22.92-51.2-51.2h409.6
                        C443.73,164.81,420.81,187.73,392.53,187.73z" />
                            </g>
                        </g>
                    </svg>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="footer__copys">
        <p class="footer__text">
            {% with derechos=derechos_text|default:'Todos los derechos reservados - Farsali Colombia - 2020'  %}
                {{ derechos }}
            {% endwith %}
        </p>
    </div>
</div>