<div class="products__pagination">
    <div class="products__container--pagination">
        <div class="products__list">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
            y="0px" viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
            <g>
                <g>
                    <path
                        d="M336.23,209.59L131.43,4.79c-6.78-6.55-17.58-6.36-24.13,0.42c-6.39,6.61-6.39,17.1,0,23.71l192.73,192.73L107.29,414.39
                        c-6.66,6.66-6.66,17.47,0,24.13c6.67,6.66,17.47,6.66,24.13,0l204.8-204.8C342.89,227.06,342.89,216.26,336.23,209.59z" />
                </g>
            </g>
            </svg>
            <ul class="products__items--pagination">
                {% for i in '1234' %}
                    <li class="products__items-link">
                        1
                    </li>
                {% endfor %}
            </ul>
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
            y="0px" viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
            <g>
                <g>
                    <path
                        d="M336.23,209.59L131.43,4.79c-6.78-6.55-17.58-6.36-24.13,0.42c-6.39,6.61-6.39,17.1,0,23.71l192.73,192.73L107.29,414.39
                        c-6.66,6.66-6.66,17.47,0,24.13c6.67,6.66,17.47,6.66,24.13,0l204.8-204.8C342.89,227.06,342.89,216.26,336.23,209.59z" />
                </g>
            </g>
            </svg>
        </div>
    </div>
</div>