<div class="call-to-action">
    <div class="call-to-action__container">
        <div class="call-to-action__titles">
            <!-- Modal -->

            <div class="modal fade" id="modal-prefer" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg bg-dark">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cliente My Farsáli</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="modal__prefer container">

                                <div class="prefer__signin">
                                    <h5>Por favor, inicia sesión para continuar</h5>

                                    <div class="card__signin">
                                        <div class="card bg-dark">
                                            <form action="{% url 'login_farsali' %}" method="POST"
                                                class="prefer__signin--form">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label>Usuario:</label>
                                                    <input type="text" name="username" id="username"
                                                        class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>Password: </label>
                                                    <input type="password" name="password" id="password"
                                                        class="form-control">
                                                </div>
                                                <div class="card-footer">
                                                    <div class="form-group">
                                                        <button class="btn btn-dark btn-block">Ingresar</button>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="call-to-action__con-forgot">
                                                            <a href="{% url 'recuperar_contrasena' %}">Recuperar
                                                                contraseña</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>

                                <div class="prefer__signup">
                                    <h5>O regístrate como cliente <em>My Farsáli</em></h5>
                                    <div class="card__register">
                                        <a href="{% url 'registro_farsali' %}">
                                            <img src="/static/images/logo-my-farsali.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>