{% extends "base/base.html" %}

{% block extracaptcha %}
<script src="https://www.google.com/recaptcha/api.js?render={{ GOOGLE_KEY_CAPTCHA_V3 }}&hl=es"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('{{ GOOGLE_KEY_CAPTCHA_V3 }}', { action: 'registro_farsali' }).then(function (token) {
            document.getElementById('g-recaptcha-response').value = token;
            document.getElementById('g-recaptcha-action').value = 'registro_farsali';
        });
    });
</script>
{% endblock extracaptcha %}

{% block extracss %}
{{ block.super }}

{% endblock %}

{% block content %}
{% include "modules/background/background.html" %}
{% include 'base/messages.html' %}
{% include "modules/form/recovery_password_form.html" %}
{% include "modules/call-to-action/call-to-action.html" %}
{% endblock %}

{% block extrajs %}
{{ block.super }}
{% endblock %}