{% extends "base/base.html" %}

{% block extracaptcha %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ GOOGLE_KEY_CAPTCHA_V3 }}&hl=es"></script>
    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('{{ GOOGLE_KEY_CAPTCHA_V3 }}', {action: 'contacto'}).then(function(token) {
                document.getElementById('g-recaptcha-response').value = token;
                document.getElementById('g-recaptcha-action').value = 'contacto';
            });
        });
    </script>
{% endblock extracaptcha %}

{% block extracss %}
{{ block.super }}

{% endblock %}

{% block content %}
    {% include "modules/inner/inner.html" %}
    <div class="canvas-home" style="padding-top: 40px;">
        {% include "modules/introductions/introductions.html" %}
        {% include 'base/messages.html' %}
        {% include "modules/contact-form/contact-form.html" %}
        {% if not logged_usser %}
            {% include "modules/call-to-action/call-to-action.html" %}
        {% endif %}
    </div>
{% endblock %}

{% block extrajs %}
{{ block.super }}
{% endblock %}